/////////////////////////
// Navbar
.navbar {
  z-index: 100;
  width: 100%;
  background-color: #353839;

  @include respond(tab-port) {
    padding: 0 2rem;
    padding-left: 3rem;
  }

  &--header {
    position: absolute;
    z-index: 100;
    top: 0;
    background-color: transparent;
  }

  &__home {
    display: flex;
    align-items: center;
    margin-right: auto;
    color: var(--color-primary);
    font-family: 'Abel', sans-serif;
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: -2px;

    &--icon {
      height: 10px;
      width: 10px;
      margin-right: 2rem;
      transform: translateY(0) scale(4);
    }

    &--text {
      margin-left: 1.5rem;

      @include respond(phone) {
        display: none;
      }
    }
  }

  &__item {
    padding: 3rem;

    @include respond(phone) {
      padding: 3rem 0;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      color: var(--color-grey);
      padding-bottom: 1rem;
      border-bottom: 2px solid var(--color-primary);
    }

    &--active {
      color: var(--color-grey);
    }
  }
}

// Extra Navbar stuff
.navbar {
  height: 65px;

  .nav-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }

  .nav-menu {
    position: absolute;
    top: 65px;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 101;
  }

  .nav-links {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
}

.navbar.opened {
  .bar:first-child {
    position: absolute;
    transform: rotate(45deg);
  }

  .bar:nth-child(2) {
    opacity: 0;
  }

  .bar:last-child {
    position: absolute;
    transform: rotate(-45deg);
  }

  .nav-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
    z-index: 101;
  }

  .nav-links {
    max-height: none;
  }
}

@media screen and (min-width: 600px) {
  .navbar .menu-toggle {
    display: none;
  }

  .navbar .nav-menu,
  .navbar.opened .nav-menu {
    all: unset;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar .nav-links,
  .navbar.opened .nav-links {
    all: unset;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    max-height: max-content;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0;
  }
}

/////////////////////////
// Article Preview
.article {
  &__list {
    display: flex;

    @include respond(tab-port) {
      padding: 0 2rem;
    }

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__preview {
    flex: 0 1 50%;
    display: flex;
    align-items: flex-start;
    position: relative;

    @include respond(phone) {
      margin-bottom: 1.5rem;
    }

    &:not(:last-child) {
      padding-right: 1rem;
    }

    &--date {
      // flex: 0 1 10%;
      margin-right: 2rem;
    }

    &--name {
      // flex: 1;
    }

    &--day {
      font-size: 3rem;
      font-weight: 700;
      text-align: center;
      color: var(--color-primary);
    }

    &--month {
      font-size: 1.6rem;
      font-weight: 700;
      text-align: center;
      color: var(--color-black);
      text-align: center;
      display: block;
      border-bottom: 2px solid var(--color-primary);
    }
  }
}

/////////////////////////
// Article Display
.article {
  &__display {
    display: flex;
    flex-direction: column;

    @include respond(tab-port) {
      padding: 0 2rem;
    }
  }

  &__display &__preview:not(:last-child) {
    margin-bottom: 8rem;

    @include respond(phone) {
      margin-bottom: 2rem;
    }
  }
}

/////////////////////////
// Button
.btn {
  border: none;
  padding: 1rem 2.5rem;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 700;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease;
  border: 3px solid var(--color-primary);

  &:link,
  &:visited {
    color: var(--color-primary);
  }

  &:hover {
    color: var(--color-grey);
    background-color: var(--color-primary);
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: translate(-50%, 2px);
  }
}

.btn-readmore {
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 700;
    text-transform: uppercase;
    // font-size: 1.8rem;
    position: absolute;
    bottom: -65%;
    right: 0;
    padding: 1rem 2.5rem;
    border: 3px solid var(--color-primary);

    background-image: linear-gradient(65deg, var(--color-primary) 0%, var(--color-primary) 50%, transparent 50%);
    background-size: 220%;
    background-position: 85%;
    transition: all 0.4s ease;

    @include respond(phone) {
      bottom: -40%;
      display: none;
    }
  }

  &:hover {
    background-position: 0%;
    color: var(--bg-primary);
    transform: translateX(1rem);
  }

  &:active {
    transform: translate(1rem, 2px);
  }
}

.selector {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 2rem;

  &__prev {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    margin-right: 1rem;

    & h3 {
      margin: 0.5rem 0;
    }

    & i {
      font-size: 5rem;
    }
  }

  &__prev--btn {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      color: var(--color-primary);
      font-weight: 700;
      text-transform: uppercase;
      padding: 1rem 2.5rem;
      border: 3px solid var(--color-primary);

      background-image: linear-gradient(295deg, var(--color-primary) 0%, var(--color-primary) 50%, transparent 50%);
      background-size: 220%;
      background-position: 15%;
      transition: all 0.4s ease;
    }

    &:hover {
      background-position: 100%;
      color: var(--bg-primary);
      transform: translateX(-1rem);
    }

    &:active {
      transform: translate(-1rem, 2px);
    }
  }

  &__next {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    margin-left: 1rem;

    & h3 {
      margin: 0.5rem 0;
    }

    & i {
      font-size: 5rem;
    }
  }

  &__next--btn {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      color: var(--color-primary);
      font-weight: 700;
      text-transform: uppercase;
      padding: 1rem 2.5rem;
      border: 3px solid var(--color-primary);

      background-image: linear-gradient(65deg, var(--color-primary) 0%, var(--color-primary) 50%, transparent 50%);
      background-size: 220%;
      background-position: 85%;
      transition: all 0.4s ease;
    }

    &:hover {
      background-position: 0%;
      color: var(--bg-primary);
      transform: translateX(1rem);
    }

    &:active {
      transform: translate(1rem, 2px);
    }
  }
}

/////////////////////////
// Logo
.logo {
  text-decoration: none;
  color: var(--color-primary);
  margin-right: auto;
}

/////////////////////////
// Link (Anchor tag)
.link {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
  display: inline-block;

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    transform: translateY(2px);
  }
}
