/////////////////////////
// Landing Page
.header {
  position: relative;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  // clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
  @include respond(phone) {
    height: 70vh;
  }

  &__text-box {
    position: absolute;
    top: 25%;
    width: var(--container);
    left: 50%;
    transform: translateX(-50%);

    @include respond(tab-port) {
      width: 90%;
    }

    @include respond(phone) {
      top: 35%;
    }
  }
}

.footer {
  background-color: var(--color-primary);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 14rem;
}

body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-track {
  background: var(--color-black);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

/////////////////////////
// Article List Page
.article--preview__container {
  margin-bottom: 8rem;

  @include respond(phone) {
    margin-bottom: 4rem;
  }
}

/////////////////////////
// Misc.
.container {
  margin: 0 auto;
  max-width: var(--container);
}

.dark-bg {
  background-color: #353839;
}

/////////////////////////
// 404 Page
.error404 {
  // background-image: url(../img/pattern.png);
  // background-position: center;
  // background-repeat: repeat;
  // background-size: cover;
  // height: 100vh;
  width: 100%;

  &--text {
    font-size: 1.8rem;
    margin-bottom: 1rem;

    & + a {
      margin-top: 1rem;
    }
  }
}
