h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
}

p {
  line-height: 1.6;
  font-weight: 300;
}

.color-primary {
  color: var(--color-primary);
}

.color-grey {
  color: var(--color-grey);
}

p i {
  margin-right: 3rem;

  @include respond(phone) {
    margin: 0;
  }
}

.heading {
  // hero area
  &__primary {
    text-align: right;
    text-transform: uppercase;
    font-size: 7rem;
    font-weight: 700;

    @include respond(phone) {
      font-size: 5rem;
    }

    &--main {
      color: var(--color-grey);
      line-height: 50%;
    }

    &--sub {
      line-height: 50%;
    }

    &--subtext {
      color: var(--color-grey);
      text-transform: none;
      font-size: 2.2rem;
      display: block;
    }
  }

  &__secondary {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 4rem;
    margin: 5rem;

    @include respond(phone) {
      margin: 2.5rem;
    }
  }

  &__tertiary {
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 700;

    @include respond(phone) {
      font-size: 1.8rem;
    }
  }
}

footer {
  .footer {
    &__text {
      display: flex;
      padding: 3rem;
      color: var(--color-grey);

      &--top {
        @include respond(phone) {
          display: none;
        }
      }

      & p {
        margin-right: 6rem;

        @include respond(phone) {
          margin-right: 2rem;
        }
      }
    }
  }

  .copyright {
    &__text {
      font-size: 1.4rem;
      text-align: center;
      color: var(--color-grey);

      &--break {
        display: none;

        @include respond(phone) {
          display: block;
        }
      }
    }

    &__link {
      text-decoration: none;
      color: inherit;

      &:hover {
        border-bottom: 2px solid var(--color-grey);
      }
    }
  }
}

.paragraph {
  &--article {
    text-align: justify;

    @include respond(tab-port) {
      padding: 0 2rem;
    }
    & h2 {
      font-size: 1.8rem;
      color: var(--color-primary);
    }

    &:last-of-type {
      padding-bottom: 3rem;
      border-bottom: 5px solid var(--color-primary);

      @include respond(phone) {
        padding-bottom: 2.5rem;
      }
    }

    & a:link,
    a:visited {
      color: #333399;
      text-decoration: none;
      // text-decoration-color: #d2dcee;
    }

    & a:hover {
      text-decoration: underline;
    }
  }

  &--indent {
    padding-left: 2rem;
  }
}

.list {
  &--article {
    line-height: 1.6;
    font-weight: 300;
  }
}

.contributions {
  &__link {
    text-decoration: none;
    color: var(--color-primary);
    display: inline-block;
    transform: translateY(0);
    transition: all 0.2s;

    &:hover {
      filter: opacity(80%);
    }

    &:active {
      transform: translateY(2px);
    }
  }
}
